//https://tableless.com.br/usando-sass-com-create-react-app-sem-eject/
//https://scotch.io/tutorials/using-sass-in-create-react-app-v2

@import "colors.scss";

%center {
    text-align: center;
    margin-bottom: 3%;
};

body {
    background-color: $primary;

    div{
        nav {
            justify-content: center;
            h1 {
                color: $secondary;
                text-align: center;
            };
        };
    };
    
    table {
        border-radius: 20%;
    };

};

.inner-content {
    background-color: $secondary;
    border-radius: 20%;
    padding: 5% 10% 5% 10%;
    margin-bottom: 5%;
};

.component-title {
   @extend %center;
   font-size: 200%;
};

.header-title {
    @extend %center;
    font-size: 300%;
}